// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
    border-radius: $radius;
}

// Custom CSS
body > .grid { height: 100%; }
body > .container { margin-left: 150px; margin-top: 50px; padding-bottom: 100px; }
.ui.menu { @include border-radius(0); }

// Layout
.buttons {
	float: right;
	&.bottom { margin: 15px 0; }
}
