// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
    border-radius: $radius;
}

// Layout
body > .grid { height: 100%; }
body > .contain { margin: 35px 2rem 100px; }
.ui.menu { @include border-radius(0); }

// Helpers
.hide { display: none; }

// Blockquotes
blockquote { border-left: 6px solid #eee; padding: 0 0 0 12px; }
blockquote p { font-style: italic; }
