// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
    border-radius: $radius;
}

// Layout
body > .grid { height: 100%; }
body > .container { margin-top: 35px; }
.ui.menu { @include border-radius(0); }

// Helpers
.hide { display: none; }

// Blockquotes
blockquote { border-left: 6px solid #eee; padding: 0 0 0 12px; }
blockquote p { font-style: italic; }

// Comments
#comments { margin-top: 30px; }

#comment-message textarea { height: 120px; min-height: auto; max-height: auto; transition: height 0.4s; }
#comment-message textarea.inactive { height: 60px; }
